<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="mdi mdi-grid-large menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item nav-category">Penjualan</li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <i class="menu-icon mdi mdi-floor-plan"></i>
            <span class="menu-title">Penjualan</span>
            <i class="menu-arrow"></i> 
          </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/pemesanan.html">Pemesanan</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/gerobak.html">Gerobak Terbelengkai</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/pelanggan.html">Pelanggan</a></li>
              <li class="nav-item"> <a class="nav-link" href="pages/ui-features/memperbaiki.html">Memperbaiki Pesanan</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item nav-category">Katalog</li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
            <i class="menu-icon mdi mdi-card-text-outline"></i>
            <span class="menu-title">katalog</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="form-elements">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"><a class="nav-link" href="pages/forms/produk.html">Produk</a></li>
              <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Kategori</a></li>
              <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Gift Card</a></li>
            </ul>
          </div>
        </li>
        
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-sm-12">
            <div class="home-tab">
              <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                <ul class="nav nav-tabs" role="tablist">